.logo-container {
    height: 110px;
    width: 70%;
    justify-content: start;
    display: flex;
    align-items: center;
}
.pageLogo{
    display: flex;
    height: 120px;
}
.logo-container-title{
    padding-left: 30px;
    display: flex;
    font-size:32px;
    font-family: 'Caveat', cursive;
}
/*
@media (max-width:750px) {
    .logo-container-title{
        display: none;
    }
}
*/